.steplist .step1{
    color: #ffffff;
    font-weight: 700;
}

.Rama{
    position: absolute;
    width: 221px;
    height: 52px;
    left: 100px;
    top: 297px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
        /* or 130% */
    color: #577294;
}

.Rama select, .Provincia select{
    position: relative;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 210px;
    background: #FFFFFF;
    /* Tipo */
    border: 1px solid #577294;
    /* Dropshadow 1 */
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}


.Provincia{
    position: absolute;
    width: 221px;
    height: 52px;
    left: 500px;
    top: 297px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #577294;
}

.Rama label, .Provincia label {
    font-size: 18px;
}


.condiciones, .material{
    position: absolute;
    width: 500px;
    height: 52px;
    left: 100px;
    top: 489px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 130% */
    color: #577294;
}

.material{
    top: 681px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.material button{
    font-family: 'Quicksand';
    font-weight: 600;
    background: #A9D4EA;
    /* Off */
    border: 1px solid #A9D4EA;
    border-radius: 10px;
    padding: 10px;
    width: 35%;

    color: #FFFFFF;
}

.material button:hover{
    background: #c5e4f3;
    cursor: pointer;
}

.material .btnsiguiente{
    position: relative;
    left: 50px;
    top: 280px;
    bottom: 0%;
    /* Principal - call */
    background: #0BC6FE;
}

.material .btnsiguiente:hover{
    cursor: pointer;
    background: #36d0ff;
}
